.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #fdf7f5; 
    padding: 2rem 16%;
    font-family: 'Arial', sans-serif;
    color: #333;
    display:flex;
    justify-content:center;
    
}
  
    .left {
        background-image: url('images/background.jpg');
        height:20rem;
        width:20rem;
        background-size:contain;
        background-repeat:no-repeat;

  }
  

  .center {
    text-align: center;
    flex: 1;
  }
  
  .topText {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .loves {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  
  .loveItem {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .love {
    font-size: 1.5rem;
  }
  
  /* RIGHT */
  .right {
    text-align: center;
  }
  
  .follow {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .socials {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 0.5rem;
  }
  
  .facebook {
    color: #3b5998;
    font-weight: bold;
  }
  
  .linkedin {
    color: #0077b5;
    font-weight: bold;
  }
  
  .pinterest {
    color: #bd081c;
    font-weight: bold;
  }
  
  .bottomText {
    font-size: 0.8rem;
    color: #999;
  }

  @media only screen and (max-width:768px){
    .footer{
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
  }
  